*{
  margin: 0;
  padding: 0;
}

.container-slide{
   display: flex;
   justify-content: space-between;
   width: 95vw;
   height: 50vh;
   background-color: black;
   margin: 10vh auto;
   border-radius: 10px;
   box-shadow: 0 20px 30px black;
}

.container-items{
  position: absolute;
  display: flex;
  width: 95vw;
  height: 50vh;
  border-radius: 10px;
  overflow: hidden;
}

.item{
  width: 95vw;
  height: 50vh;
  transition: all 1s;
  position: relative;
}

.item:first-child{
  margin-left: -100%;
}

.item img{
  width: 95vw;
  height: 50vh;
  border-radius: 10px;
 
}

p {
  z-index: 1;
  font-size: 3em;
  position: absolute;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.578);
  transition-duration: 4.0s;
  transition-delay: 0.7s;
  user-select: none;
  color: rgba(255, 255, 255, 0.524);
}

.action-button{
  font: bold 30px sans-serif;
  display: flex;
  /*centralizar na vertical e na horizontal*/
  justify-content: center;
  align-items: center;
  width: 50px;
  /*fazer tal elemento vir à tona*/
  z-index: 1;
  /*O mouse não consegue selecionar*/
  user-select: none;
  color: #00000000;
}

.action-button:hover{
  transition: 0.4s;
  cursor: pointer;
  color: white;
  background-color: #00000099;
  border-radius: 10px;
}

@media only screen and (min-width: 992px){
 
  .container-slide{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 40vh;
    background-color: black;
    margin: 10vh auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px black;
 }
 
 .container-items{
   position: absolute;
   display: flex;
   width: 50vw;
   height: 40vh;
   border-radius: 10px;
   overflow: hidden;
 }
 
 .item{
   width: 50vw;
   height: 40vh;
   transition: all 1s;
   position: relative;
 }
 
 .item:first-child{
   margin-left: -100%;
 }
 
 .item img{
   width: 50vw;
   height: 40vh;
   border-radius: 10px;
  
 }

 p {
  font-size: 2.5em;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

}